@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.5;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: text-decoration 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.app-container {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

.display {
  font-family: $font-display;
}

.dashboard-center-edit {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.auth {
  padding: 1rem;

  input {
    padding: 1rem;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: #e53935
}