$primary-color: #4E4E73;
$secondary-color: #6E6EA1;
$text-color: white;
$background-color: #1E1E2F;
$border-color: #4E4E73;
$disabled-color: #F4F4F4;
$focus-color: $primary-color;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Merriweather', sans-serif;
$font-display: 'Uncial Antiqua', cursive;